<div class="navbar-lewagon">

  <div id="mySidenav" class="sidenav">
    <a id="closeBtn" class="close">x</a>
    <ul>
      <li><%= link_to "Home", root_path, class: "menu" %></li>
      <li><%= link_to "T-shirts", clothes_path, class: "menu" %></li>
      <div class="session">
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <%= link_to "Dashboard", dashboard_path, class: "account" %>
        <% end %>
        <%= link_to "Cart", my_cart_path, class: "account"  %>
        <%= link_to "Log out", destroy_user_session_path, class: "account", data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "account" %>
        <%= link_to "Create account", new_user_registration_path, class: "account" %>
      <% end %>
      </div>
    </ul>
  </div>

  <a id="openBtn">
    <span class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>
    <a href="/"><%= image_tag "logo.png", class: "logo" %></a>
</div>
