<h1 class="title">T-Shirts TBM</h1>
<p><%= current_user.stripe_customer_id %></p>
<% if current_user && current_user.admin? %>
  <%= link_to "Voir mes ventes", dashboard_path, class: "button_dashboard" %>
<% end %>

<div class="container">
  <div class="clothe-cards">
    <% @clothes.each do |clothe| %>
      <div class="clothe-card">
        <p class="img-clothe"><%= cl_image_tag clothe.image.key, crop: :fill, class: "img"%></p>
          <div class="card-info">
            <div class="flex-info">
              <p><%= clothe.stripe_clothe_id %></p>
              <p class="title-card"><%= clothe.name %></p>
              <p class="price"><%= clothe.price %>€</p>
              <p><%= clothe.stripe_price_id %></p>
            </div>
              <p>Categorie : <%= clothe.category %></p>
          </div>
        <% if user_signed_in? && current_user.admin == true %>
          <p><%= clothe.sales_count %>product sold</p>
          <p><%= link_to "Modifier", edit_clothe_path(clothe) %></p>
        <% end %>
        <p class="test-button"><%= link_to "Voir ce t-shirt", clothe_path(clothe), class: "button" %></p>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? && current_user.admin ==  true %>
  <p><%= link_to "Nouveau t-shirt", new_clothe_path %></p>
<% end %>
