<h1 class="page-title">MON PANIER</h1>
<div class="container" style="max-width: 800px;">
  <% @cart.each do |clothe| %>
    <div class="clothes-cart">
      <div class="clothe-image">
        <p><%= cl_image_tag clothe.image.key, crop: :fill, class: "image-clothe-cart"%></p>
      </div>
      <div class="clothe-info-cart">
        <p><%= clothe.name %></p>
        <p><%= clothe.price / 100 %>&euro;</p>
        <p>Taille : <%= clothe.size %></p>
        <p><%= clothe.description %></p>
        <p class="button-delete-cart"><%= link_to "SUPPRIMER", remove_from_cart_path(clothe), class: "button-text-delete-cart", data: { turbo_method: :delete, turbo_confirm: "T'es sur de toi tu veux supprimer ce tshirt de ton panier mon reuf ?" } %></p>
      </div>
    </div>
  <% end %>
  <% if @cart.present? %>
    <div style="margin: 32px 0 64px;">
      <button class="buy-button-tbm"><%= button_to "COMMANDER", clothe_checkout_path(@cart), class: "button-text-buy", method: :post, remote: true, data: { turbo: false }%></button>
    </div>
  <% end %>
</div>
