<h1 class="page-title">NOUVEAU T-SHIRT</h1>
<div class="container form-log-in">
  <%= simple_form_for @clothe do |f| %>
    <%= f.input :name %>
    <%= f.input :price, placeholder: 'Prix en centimes (ex: 2500 pour 25€)' %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :size %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, "CREER", class: "submit" %>
  <% end %>
</div>
