<h1 class="title">TBM Lover</h1>

<div class="container">
  <p><%= cl_image_tag @clothe.image.key, height: 500, width: 500, crop: :fill, class: "image-clothe"%></p>
    <div class="tshirt-info">
      <h3><%= @clothe.name %></h3>
      <p class="price-show"><%= @clothe.price %>€</p>
      <p>Taille : <%= @clothe.size %></p>
      <button class="buy-button"><%= link_to "Acheter cette merveille", new_user_registration_path, class: "button" %></button>
      <p><%= @clothe.description %></p>
    </div>
</div>
<br>
<br>

<%= link_to "Back", clothes_path %>
<% if user_signed_in? && current_user.admin ==  true %>
  <p><%= link_to "Edit", edit_clothe_path(@clothe) %></p>
  <p><%= link_to "Delete", clothe_path(@clothe), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
