<div class="container-tbm">
  <p><%= cl_image_tag @clothe.image.key, crop: :fill, class: "image-clothe"%></p>
    <div class="tshirt-info">
      <h3><%= @clothe.name %></h3>
      <p class="price-show"><%= @clothe.price / 100 %>&euro;</p>
      <p>Taille : <%= @clothe.size %></p>
      <p>Description : <%= @clothe.description %></p>
      <% if user_signed_in? && @cart.include?(@clothe) %>
        <p class="delete-cart-button"><%= link_to "SUPPRIMER DU PANIER", remove_from_cart_path(@clothe), class: "delete-cart-button-text", data: { turbo_method: :delete, turbo_confirm: "T'es sur de toi tu veux supprimer ce tshirt de ton panier mon reuf ?" } %></p>
      <% elsif user_signed_in? %>
        <button class="cart-button-tbm"><%= button_to "AJOUTER AU PANIER", add_to_cart_path(@clothe), class: "button-text-cart", method: :post, remote: true, data: { turbo: false }%></button>
      <% end %>
      <% if user_signed_in? && current_user.admin == true %>
        <p style="margin-top: 32px;"><%= link_to "Modifier", edit_clothe_path(@clothe), style: "text-decoration: underline;" %></p>
        <p><%= link_to "Supprimer", clothe_path(@clothe), style: "color: #ef4444; text-decoration: underline;", data: { turbo_method: :delete, turbo_confirm: "T'es sur de toi tu veux supprimer ce tshirt mon reuf ?" } %></p>
      <% end %>
    </div>
</div>
