<h1 class="title">TBM Lover</h1>

<div class="container-tbm">
  <p><%= cl_image_tag @clothe.image.key, crop: :fill, class: "image-clothe"%></p>
    <div class="tshirt-info">
      <h3><%= @clothe.name %></h3>
      <p class="price-show"><%= @clothe.price / 100 %>€</p>
      <p>Taille : <%= @clothe.size %></p>
      <% if user_signed_in? %>
        <button class="buy-button-tbm"><%= button_to "Acheter cette merveille", clothe_checkout_path(@clothe), class: "button-text-buy", method: :post, remote: true, data: { turbo: false }%></button>
      <% else %>
        <button class="buy-button-tbm"><%= button_to "Acheter cette merveille", new_user_registration_path, class: "button-text-buy", method: :get%></button>
      <% end %>
      <% if user_signed_in? && @cart.include?(@clothe) %>
        <%# <button class="cart-button-tbm"><%= button_to "Supprimer du panier", remove_from_cart_path(@clothe), class: "button-text-cart", data: { turbo_method: :delete, turbo_confirm: "T'es sur de toi tu veux supprimer ce tshirt de ton panier mon reuf ?" } %>
        <p class="cart-button-tbm"><%= link_to "Supprimer de mon panier", remove_from_cart_path(@clothe), class: "button-text-cart", data: { turbo_method: :delete, turbo_confirm: "T'es sur de toi tu veux supprimer ce tshirt de ton panier mon reuf ?" } %></p>
      <% elsif user_signed_in? %>
        <button class="cart-button-tbm"><%= button_to "Ajouter à mon panier", add_to_cart_path(@clothe), class: "button-text-cart", method: :post, remote: true, data: { turbo: false }%></button>
      <% end %>
      <p><%= @clothe.description %></p>
    </div>
</div>
<br>
<br>

<%= link_to "Back", clothes_path %>
<% if user_signed_in? && current_user.admin == true %>
  <p><%= link_to "Edit", edit_clothe_path(@clothe) %></p>
  <p><%= link_to "Supprimer ce t-shirt", clothe_path(@clothe), data: { turbo_method: :delete, turbo_confirm: "T'es sur de toi tu veux supprimer ce tshirt mon reuf ?" } %></p>
<% end %>
