<div class="container">
  <h1 class="title">Merci <%= @session_with_expand.customer_details.name %> d'avoir passé commande chez nous !</h1>

  <p>Vous allez recevoir un email de confirmation de votre commande.</p>
  <!-- Voir pour rajouter le nom de l'utilisateur dans rails si compatible avec stripe -->
  <p>Recupe adresse de stripe</p>
  <br>
  <br>
  <br>
  <div class="row">

    <div class="center">
    <% @clothes %>
      <h3>Votre nouveau <%= @clothe.category %> <strong><%= @clothe.name %> arrive bientôt</strong></h3>
      <div class="row">
        <div class="col-6">
          <p><%= cl_image_tag @clothe.image.key, crop: :fill, class: "image-dashboard"%></p>
        </div>
        <div class="col-6">
          <p>Montant total de votre commande <%= @session_with_expand.amount_total / 100.to_f %>€</p>
          <p>Taille : <%= @clothe.size %></p>
        </div>
      </div>
    </div>


  </div>
</div>
